<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pronostico</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <center>Averigue el pronostico para la ciudad que desee</center>
                </h1>
                <h4>
                    <center> Pequeña aplicacion usando Python3, Flask, Bulma, HTML, CSS, y SQLite3</center>
                </h4>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container is-fullhd">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="ciudad" type="text" placeholder="Nombre de la ciudad">
                            </div>
                            <div class="control">
                                <button class="button is-black">
                                    Agregar ciudad
                                </button>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for categoy, message in messages %} {% set message_class = 'is-info'%} {% if category == 'error' %} {% set message_class = 'is-danger'%} {% endif %}
                        <div class="notification {{ message_class }}">{{ message }}
                        </div>
                        {% endfor %} {% endif %} {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for tiempo in datos_tiempo %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ tiempo.icono }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ tiempo.ciudad }}</span>
                                        <br>
                                        <span class="subtitle">Temperatura actual:&nbsp;{{ tiempo.temp_actual }}° C</span>
                                        <br>Sensacion termica:&nbsp;{{ tiempo.termica }}° C
                                        <br>Temperatura minima hoy:&nbsp;{{ tiempo.temperatura_min }}° C
                                        <br>Temperatura maxima hoy:&nbsp;{{ tiempo.temperatura_max }}° C
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href=" {{ url_for('eliminar_ciudad', nombre=tiempo.ciudad) }} "><button class="delete"></button>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>